<header role="banner">
  <h1><a href="/">Nadav Spiegelman</a></h1>
  <nav role="navigation">
    <h2 class="visuallyhidden">Site navigation</h2>
    <ul>
      <li><a href="/playing">Music</a></li>
      <li><a href="/designing">Design</a></li>
      <li><a href="/writing">Writing</a></li>
      <li><a href="mailto:me@nadav.is">Contact</a></li>
    </ul>
  </nav>
</header>