<header role="banner">
  <h1><a href="/">Nadav Spiegelman</a></h1>
  <nav role="navigation">
    <h2 class="visuallyhidden">Site navigation</h2>
    <ul>
      <li><%= nav_link "Music", "/playing" %></li>
      <li><%= nav_link "Websites", "/building" %></li>
      <li><%= nav_link "Writing", "/writing" %></li>
      <li><a href="mailto:me@nadav.is">Contact</a></li>
    </ul>
  </nav>
</header>
