<article>
    <h1 class="text--center">
        I make the web less ugly 
        <div class="subheading">(and more effective)</div>
        </h1>
    
    <p>I learned <abbr>HTML</abbr> and made my first website at ten years old, and have been going ever since. I love good typography and simple, responsive design.</p>
    <p>I enjoy working with creative professionals and driven small businesses. I’m currently working as a Front End Developer for <a href="http://somethingdigital.com">Something Digital</a> in New York City.</p>
</article>

<section class="portfolio">
    <%# <header> %>
    <%#     <h2>Selected Portfolio</h2> %>
    <%# </header> %>

    <article class="portfolio__item">
      <header>
        <h1><a href="http://www.stresslesswithreiki.com">Stress Less with Reiki</a></h1>
        <h2>Design &amp; development</h2>
      </header>
      <img src="/images/portfolio/stressless1.png" alt="Stress Less with Reiki Screenshot">
      <img src="/images/portfolio/stressless2.png" alt="Stress Less with Reiki Screenshot">
      <%# <a href="#" class="portfolio__toggle">Show live preview</a> %>
      <%# <figure class="portfolio__preview"> %>
      <%#   <iframe data-src="//www.stresslesswithreiki.com" frameborder="0" class="portfolio__preview__iframe"></iframe> %>
      <%# </figure> %>
    </article>

    <article class="portfolio__item">
      <header>
        <h1>Nick Rosen</h1>
        <h2>Design &amp; Development</h2>
      </header>
    </article>

    <article class="portfolio__item">
      <header>
        <h1>Caramoor Center for Music and the Arts</h1>
        <h2>Front-End Development with <a href="http://www.somethingdigital.com">Something Digital</a></h2>
      </header>
      <a href="#" class="portfolio__toggle">Show live preview</a>
      <figure class="portfolio__preview">
        <iframe data-src="//www.caramoor.org" frameborder="0" class="portfolio__preview__iframe"></iframe>
      </figure>
    </article>
</section>
