<article>
    <h1 class="text--center">
        I make the web less ugly 
        <div class="subheading">(and more effective)</div>
        </h1>
    
    <p>I learned <abbr>HTML</abbr> and made my first website at ten years old, and have been going ever since. I love good typography and simple, responsive design.</p>
    <p>I work as a Front End Developer at <a href="http://somethingdigital.com">Something Digital</a> in New York City.</p>
</article>

<section class="portfolio">
    <%# <header> %>
    <%#     <h2>Selected Portfolio</h2> %>
    <%# </header> %>

    <article class="portfolio__item">
      <header>
        <h1><a href="http://www.stresslesswithreiki.com">Stress Less with Reiki</a></h1>
        <h2>Design &amp; development</h2>
      </header>
      <a href="http://www.stresslesswithreiki.com/"><img src="/images/portfolio/stressless1.png" alt="Stress Less With Reiki, Home Page"></a>
      <a href="http://www.stresslesswithreiki.com/classes/"><img src="/images/portfolio/stressless2.png" alt="Stress Less With Reiki, Classes Page"></a>
      <%# <a href="#" class="portfolio__toggle">Show live preview</a> %>
      <%# <figure class="portfolio__preview"> %>
      <%#   <iframe data-src="//www.stresslesswithreiki.com" frameborder="0" class="portfolio__preview__iframe"></iframe> %>
      <%# </figure> %>
    </article>

    <article class="portfolio__item">
      <header>
        <h1><a href="http://nickrosenkeys.com">Nick Rosen</a></h1>
        <h2>Design &amp; Development</h2>
      </header>
      <a href="http://nickrosenkeys.com/"><img src="/images/portfolio/nickrosen1.png" alt="Nick Rosen, Home Page"></a>
      <a href="http://nickrosenkeys.com/schedule/"><img src="/images/portfolio/nickrosen2.png" alt="Nick Rosen, Schedule Page"></a>
    </article>

    <article class="portfolio__item">
      <header>
        <h1><a href="http://www.caramoor.org">Caramoor Center for Music and the Arts</a></h1>
        <h2>Front End Development with <a href="http://www.somethingdigital.com">Something Digital</a></h2>
      </header>
      <a href="http://www.caramoor.org/"><img src="/images/portfolio/caramoor1.png" alt="Caramoor, Home Page"></a>
      <a href="http://www.caramoor.org/visit/tour-caramoor/"><img src="/images/portfolio/caramoor2.png" alt="Caramoor, Tour Caramoor Page"></a>
    </article>
</section>
