<article>
    <h1 class="text--center">
        I make the web less ugly 
        <div class="subheading">(and more effective.)</div>
        </h1>
    
    <p>I learned <span class="sc">HTML</span> and made my first website at ten years old, and have been going ever since. I love good typography and simple, responsive design.</p>
    <p>I create full websites from scratch as well as custom WordPress themes.</p>
</article>

<section class="portfolio">
    <header class="visuallyhidden">
        <h2>Portfolio</h2>
    </header>
    <ul>
        <li>
            <a href="http://www.stresslesswithreiki.com">
                <figure>
                <img src="/images/StressLess.jpg" alt="">
                <figcaption>Responsive design &amp; development</figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="http://www.balancedmoments.com/wowyear">
                <figure>
                <img src="/images/WowYear.jpg" alt="">
                <figcaption>Responsive WordPress theme design &amp; development</figcaption>
                </figure>
            </a>
        </li>
        <li>
            <figure>
            <img src="/images/TomRudnitsky.jpg" alt="">
            <figcaption>Responsive WordPress theme development</figcaption>
            </figure>
        </li>
    </ul> 
</section>