<article>
  <h1 class="text--center">I am a Jazz musician.</h1>
  <p>I like many kinds of music, but I really love Jazz. I fell in love with Jazz around the time I started playing upright bass—in 2006—and I haven't been the same since.
  <p>I&rsquo;ve been fortunate enough to play music professionally since 2007, and I graduated from Florida State University with a music degree in 2011.</p>
  <p>Have I mentioned that I like Jazz?</p>
</article>

<section class="audio">
  <header>
    <h2>Audio</h2>
  </header>
  <ul>
    <li>
      <iframe style="border: 0; width: 100%; height: 130px;" src="http://bandcamp.com/EmbeddedPlayer/album=4079951568/size=medium/bgcol=ffffff/linkcol=65c6ba/t=4/transparent=true/" seamless><a href="http://johndiazmusic.bandcamp.com/album/not-all-who-wander-are-lost-a-musical-memoir">Not All Who Wander Are Lost: a musical memoir by John A. Díaz-Cortés &amp; the Folklorika Arkestra</a></iframe>
    </li>
    <li>
      <iframe width="100%" height="159" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F93983861&amp;color=65c6ba&amp;auto_play=false&amp;show_artwork=false"></iframe>
    </li>
    <li>
      <iframe width="100%" height="159" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F33625314&amp;color=65c6ba&amp;auto_play=false&amp;show_artwork=false"></iframe>           
    </li>
  </ul>
</section>

<section class="videos">
  <header>
    <h2>Videos</h2>
  </header>
  <ul>
    <li class="fitvids">
      <iframe width="560" height="315" src="//www.youtube.com/embed/VAZPqN3zaBs?rel=0" frameborder="0" allowfullscreen></iframe>
    </li>
    <li class="fitvids">
      <iframe width="560" height="315" src="//www.youtube.com/embed/hGbW1RSMCyc?rel=0" frameborder="0" allowfullscreen></iframe>
    </li>
    <li class="fitvids">
      <iframe width="560" height="315" src="//www.youtube.com/embed/WAHzMV_LlDY?rel=0" frameborder="0" allowfullscreen></iframe>
    </li>
  </ul>
</section>

<section class="discography">
  <header>
    <h2>Discography</h2>
  </header>
  <ul>
    <li>
      <a href="http://johndiazmusic.bandcamp.com/album/not-all-who-wander-are-lost-a-musical-memoir">
        <img src="images/JohnDiaz-NotAllWhoWanderAreLost.jpg" alt="Not All Who Wander Are Lost by John A. Díaz-Cortés &amp; the Folklorika Arkestra">
      </a>
    </li>
    <li>
      <a href="http://artists.behiprecords.com/AkeemMarable/DarkLake/">
        <img src="images/AkeemMarable-DarkLake.jpg" alt="Dark Lake by Akeem Marable and Central Focus Trio">
      </a>
    </li>
    <li>
      <a href="http://artists.behiprecords.com/JacobDeaton/InsideOut/">
        <img src="images/JacobDeaton-InsideOut.jpg" alt="Inside Out by Jacob Deaton Trio">
      </a>
    </li>
  </ul>
</section>