%article.archive
  %h1.text--center Reading Journal
  %ol
    %li.archive__post
      %h3.title 
        %em Pale Fire
        by Vladimir Nabokov
      %time.date.sc April 3, 2014
      %p.clearfix Some content
