body 
  & > header
    margin-bottom: ms(-1)
    text-align: center
    +clearfix
    h1
      font-weight: normal
      margin-bottom: ms(-4)
      a
        @extend %link--orange
      +at-breakpoint($large)
        float: left
    nav
      display: block
      +at-breakpoint($large)
        /* for baseline alignment */
        line-height: 2.3
      ul
        +at-breakpoint($large)
          float: right
  &:not(.index) > header
    padding-bottom: ms(-4)
    +at-breakpoint($large)
      padding-bottom: 0 
    border-bottom: 3px solid $light-grey

