body > header
  margin-bottom: ms(-1)
  +clearfix
  text-align: center
  h1
    font-weight: normal
    margin-bottom: ms(-4)
    a
      @extend %link--orange
    +at-breakpoint($large)
      float: left
  nav
    font-size: ms(-1)
    display: block
    +at-breakpoint($medium)
      font-size: ms(0)
    ul
      margin: 0
      padding: 0
      +at-breakpoint($large)
        float: right
    li
      display: inline
    li + li
      display: inline
      padding-left: 1em