.nav,
[role="navigation"] 
  font-size: ms(-1)
  font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B' 
  +at-breakpoint($large)
    margin-top: 0.45em
  ul
    margin: 0
    padding: 0
  li
    display: inline
  li + li
    display: inline
    padding-left: 1em
  .active 
    font-style: italic
