.post
  +clearfix
  figure
    @extend %wrap--extranarrow
    margin-top: 1rem
    margin-bottom: 1rem
    text-align: center
    figcaption
      color: #888
      text-align: center
      font-size: 0.8em

.post + nav
  margin-top: 4.15rem

.post__header
  margin-bottom: ms(5)
  h1
    letter-spacing: 1px
    margin-bottom: 0
    font-weight: bold
    a
      @extend %link--orange
  p
    text-indent: 0



.post__nav
  text-align: center
  font-size: ms(-1)
  +at-breakpoint($medium)
    font-size: 1rem
  a
    display: block
  .archive
    margin-top: 0.557rem


// +at-breakpoint($medium)
  // .post__next
  //   float: right
  // .post__previous
  //   float: left
